@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    border: solid salmon;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a, h1, p, .left-links {
    font-family: Roboto, sans-serif;
}

.header {
    border: solid red;
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding: 15px 25px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.left-links {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: auto;
}



.frontrow {
    border: solid cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.intro, .frontrow img {
    border: solid green;
}

.intro h1 {
    border: solid red;
    color: #f9faf8;
    font-size: 48px;
    margin: 0px;
}

.intro p {
    border: solid red;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
}

.frontrow img {
    width: 600px;
    height: 100;
}



