@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    /* border: solid salmon; */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a, h1, p, .left-links {
    font-family: Roboto, sans-serif;
}

.containerone {
    /* border: solid lime; */
    background-color: #1f2937;
    padding: 15px 60px;
}

.header {
    /* border: solid red; */
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.left-links {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: auto;
}

.frontrow {
    /* border: solid yellow; */
    background-color: #1f2937;
    padding: 100px 60px;
}

.containertwo {
    /* border: solid cyan; */
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.intro {
    /* border: solid pink; */
    width: 400px;
    max-width: 100%;
}

.intro h1 {
    /* border: solid red; */
    color: #f9faf8;
    font-size: 48px;
    margin: 0px 0px 5px 0px;

}

.intro p {
    /* border: solid red; */
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px 0px 20px 0px;
}

.intro button {
    font-size: 17px;
    font-weight: bold;
    color: #f9faf8;
    border: none;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px 35px;
}

.intro button:hover {
    background-color: #f19f06;
}

.containertwo img {
    width: 450px;
    max-width: 100%;
}

.info {
    border: solid salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cards {
    border: solid red;
    display: flex;
}

.card {
    border: solid greenyellow;
}

.card img {
    width: 300px;
    max-width: 100%;
}
